@use '../../index.scss' as scss;

.login-register {
	padding: 98px scss.$standard-padding;
	display: flex;
	align-items: center;
	flex-direction: column;

	color: scss.$font-brown;

	.login {
		width: 100%;
		max-width: 500px;
	}

	& .font-36 {
		margin-bottom: 36px;
	}

	.custom-input-container {
		margin-bottom: 36px;
	}

	.reset {
		margin-top: 12px;
		max-width: 500px;
		color: scss.$font-brown;
		text-decoration: underline;
	}

	@include scss.mobile {
		padding: 100px scss.$standard-padding-mobile;
	}
}
